a:link, 
a:hover, 
a:visited, 
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 23px;
    color: #FFFFFF;
}

.inner .title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.inner .instructions {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.inner .instructions .instruction {
    margin-bottom: 20px;
}

.inner .start {
    text-align: center;
}

.inner #start-btn {
    background-color: #0080e5;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}


