#space-delete {
  color: rgb(169, 68, 66);
}

.field-actions {
  display: none;
}

.field-drag {
  text-align: center;
}

.field-drag .fa {
  margin-top: 14px;
  color: #999999;
  display: none;
}

.field-drag {
  cursor: pointer;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

/*.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(4); 
}*/

