.tab-content {
  margin-top: 15px;
}

.upload {
  border: 2px dotted #999;
  width: 100%;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
  cursor: default;
}

.upload div.browser input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: .0;
  filter: alpha(opacity= 0);
  -o-transform: translate(250px,-50px) scale(1);
  -moz-transform: translate(-300px,0) scale(4);
  cursor: pointer;
}

.upload .fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload .text {
  font-size: 16px;
  margin-bottom: 20px;
}

.file-upload-error {
  color: #a94442;
  padding: 10px 10px 10px 10px;
}


@media(max-width:767px) {
    .files ul.list {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }
}

@media(min-width:768px) {
    .files ul.list {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }
}

@media(min-width:768px){
    .files ul.list li.list-item {
      display: inline-block;
      vertical-align: top;
      margin: 12px 24px 12px 0;
      width: 180px;
      height: 180px
    }
}

@media(max-width:767px) {
    .files ul.list li.list-item {
      display: inline-block;
      vertical-align: top;
      margin: 12px 24px 12px 0;
    }
}


